<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gamified Learning</title>

        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@5"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
        <link
            href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
            rel="stylesheet"
            type="text/css"
        />
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
    </head>
    <body>
        <div class="min-h-screen flex flex-col">
            <div class="navbar bg-base-100 shadow-sm sticky top-0 z-[100]">
                <div class="flex-1">
                    <div class="flex items-center gap-2">
                        <img
                            src="/static/logo.png"
                            alt="logo"
                            class="size-15"
                        />
                        <a class="text-xl" href="/">Gamified Learning</a>
                    </div>
                </div>
                {% if 'user_id' in session %}
                <div class="flex gap-2 pr-5">
                    <p class="pt-2" style="height: min-content">
                        Level: {{ user.level }}
                    </p>
                    <progress
                        class="progress progress-accent w-56 h-3 mt-4"
                        value="{{ user.points }}"
                        max="200"
                    ></progress>
                    <div class="dropdown dropdown-end">
                        <div
                            tabindex="0"
                            role="button"
                            class="btn btn-ghost btn-circle avatar"
                        >
                            <div
                                class="w-10 rounded-full ring ring-blue ring-offset-2 ring-offset-blue-500 bg-blue-200"
                            >
                                <span class="text-3xl"
                                    >{{ user.name|first }}</span
                                >
                            </div>
                        </div>
                        {% if session.user_id %}
                        <ul
                            tabindex="0"
                            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
                        >
                            <li>
                                <a
                                    href="{{ url_for('profile') }}"
                                    class="text-lg"
                                >
                                    Profile
                                </a>
                                <a
                                    href="{{ url_for('courses') }}"
                                    class="text-lg"
                                    >Courses</a
                                >
                                <a 
                                    href="{{ url_for('code') }}"
                                    class="text-lg"
                                    >Code Playground</a
                                >
                                <a 
                                    href="{{ url_for('achievements') }}"
                                    class="text-lg"
                                    >Achievements</a
                                >
                                <a
                                    href="{{ url_for('logout') }}"
                                    class="text-lg"
                                    >Logout</a
                                >
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% else %}
                    <a hx-get="/login"
                        hx-swap="innerhtml"
                        hx-target="#container" 
                        class="text-black pr-4 hover:underline cursor-pointer"
                        >Login</a>
                {% endif %}
            </div>

            <main class="flex-grow">{% block content %}{% endblock %}</main>

        </div>
    </body>
</html>
