<style>
    .editor-container {
    margin: 20px auto;
    padding: 10px auto;
    position: relative;
    z-index: 30;
    }

    #editor {
    position: relative;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 90%;
    width: 95%;
    font-size: 20px;
    transform: translate(-50%, 0%);
    }
</style>

<link
            href="https://cdn.jsdelivr.net/npm/daisyui@5"
            rel="stylesheet"
            type="text/css"
        />
<link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">

<div
    class="flex items-center justify-center gap-2 w-60 m-4 btn btn-soft btn-primary"
>
    <img src="/static/arrow_b.png" alt="back" class="size-6">
    <a href="{{ url_for('lessons') }}">Back to Lessons</a>
</div>

<div class="editor-container">
    <div id="editor"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.39.1/ace.js"></script>
<script>
    let editor = document.querySelector("#editor");

    ace.edit(editor, {
    theme: "ace/theme/cobalt",
    mode: "ace/mode/python",
    });
</script>
