{% extends "base.html" %} {% block content %} {% with messages =
    get_flashed_messages(with_categories=true) %} {% if messages %} {% for
    category,message in messages %}
    <div
        role="alert"
        class="alert alert-{{ category }} max-w-md mx-auto z-20 mt-5 flex "
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
        </svg>
        <span>{{ message }}</span>
    </div>
    
    {% endfor %} {% endif %} {% endwith %}
    
    
    <div
        class="flex flex-col min-h-[200px] p-3"
        style="position: absolute; left: 50%; transform: translate(-50%, 0)"
    >
        <div>
            <h2 class="card-title text-2xl">Quiz: {{ quiz_id }}</h2>
                <div class="p-4">
                    <ul class="space-y-6">
                        {% for q in quiz.questions %}
                        {% set question_index = loop.index %}
            {% set question_key = 'question_' ~ question_index %}
                        <li>
                            <div class="card bg-base-100 shadow-lg">
                                <div class="card-body">
                                    <span class="card-title text-lg">
                                        Q{{ q.Question}}
                                    </span>
                                    <hr class=" my-2" />
                                    <div class="space-y-2">
                                                            {% for i in range(4) %}
                                        {% set is_correct_answer = (i == q.Answer) %}
                                        {% set is_user_answer = false %}
                                        {% if user_answers is defined and question_key in user_answers %}
                                            {% set is_user_answer = (i == user_answers[question_key]) %}
                                        {% endif %}
                                        
                                        <div class="flex items-center gap-2 p-2 rounded-md
                                            {% if is_correct_answer %}
                                            bg-green-200
                                            {% elif is_user_answer and not is_correct_answer %}
                                            bg-red-200
                                            {% endif %}
                                        ">
                                            <input class="size-4"
                                            type="radio"
                                            name="question_q{{ question_index }}"
                                            value="{{ i }}"
                                            id="question_{{ question_index }}_{{ i }}"
                                            {% if is_user_answer %}checked{% endif %}
                                            disabled
                                            />
                                            <label for="question_{{ question_index }}_{{ i }}" class="text-base cursor-pointer">
                                            {{ q.Options[i] }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% if not loop.last %}
                        <hr class="my-4" />
                        {% endif %} {% endfor %}
                    </ul>
    
                    <!-- Properly placed submit button -->
                    <a class="flex justify-center mt-8 mb-4"
                    a href="{{ url_for('lessons') }}"
                    class="btn btn-primary bg-indigo-500 hover:bg-indigo-700 w-full max-w-xs"
                    >
                      Next lesson
                    </a>
                </div>
        </div>
    </div>
    
{% endblock %}